/* do you use a float to establish the placement of the videos on the side  or does this just work for images?

Look at protoype for reference this will help you know what CSS you need to code leave notes as you create the protoype for the page.



/* Reset file */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE */

/* the style of this webiste will be earth tones,so i'll pull from mostly browns and greens as it advances ill make it so that its white and the picutures are the color*/
/* start of nav styling */

*
{
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;

}

body
{
	background-color: #ddb892;
}


header nav
{
	text-decoration: none;
	font-size: 14px;
	width: 100%;
	height: 100px;
	background-color: #e6ccb2;

}

/* testing to see if this is needed or not*/
 a
 {

	font-size: 14px;
	line-height: 45px;
	padding: 0px 20px;
}


 header nav ul
{
		float: left;
		display: block;
		margin: 0 auto;
		width: fit-content;
}

header nav ul li
{
float:left;
list-style: none;
position: center;
}  /*how do you get it so that the nav is set to the middle of the screen? */


/* Home Styling */

.nav
{
 width: 100%;
 height: 100vh;
 position:relative;
 padding:0 5%;
 display:flex;
 align-items:center;
 justify-content:center;
}

nav
{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	padding: 20px 8%;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

nav ul li
{
 list-style: none;
 display: inline-block;
 margin: 40px;
}

nav ul li a
{
 text-decoration: none;
 font-size: 20px;
 color: #fff;
}

nav ul a:hover
{
	padding: 0x 10px;
	background-color: #7b9e89;
}

.nav a
{
	display: inline-block;
	color: #fff;
	border: 2px solid #fff;
	padding: 14px 17px;
	border-radius: 50px;
	margin-top: 20px;
}

.hero
{
	text-align: center;
}

.hero h1
{
	font-size: 100px;
	color: #fff;
	font-weight: 600;
	font-style: italic;
}

.hero a
{
	display: inline-block;
	color: #fff;
	border: 2px solid #fff;
	padding: 14px 17px;
	border-radius: 50px;
	margin-top: 20px;
}

.hero a:hover
{
		/*padding: 0x 10px;*/
		background-color: #7b9e89;
}
/* end of nav and middle of the home page */

/* beginning of about me page */

.content2 h1
{
	font-size: 100px;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}

.content2
{
	text-align: center;
}

.image
{
width: 100%;
height: 100vh;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #fff;
/*padding-top: 100px;*/
padding-left: 140px;

/*this will create a circle for your images, this image will be stand still, copy this code and figure out how to create a cross dissolve for your photos*/
}

.image img
{
 width: 100px;
 height: 100px;
 border-radius:50%;
 border: 10px solid #e6ccb2;
}

.image .txt
{
	position: relative;
	width: 450px;
	height:250px;
	left: 160px; /* this call shifted more to the right */
	margin: 240px auto;
	background-color: #7b9e89;
}

.image .txt .box
{
	position: relative;
	width: 400;
	height: 600;
	background: 000;
	float: left;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

.image .txt .box p
{
 font-size: 20px;
} /* all I wanted was to adjust size */

/*.image .txt .box .cover
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7b9e89;
	transition: 0.5s;
	z-index: 1;
}
.image .txt .box:hover .cover
{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}  leaving this here for when you figure out the hover feature*/


/* end of about me */

/* beginning of video */

.content3 h1
{
	font-size: 100px;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}

.content3
{
	text-align: center;
}

/* end of video*/

/* beginning of photo */

.content4 h1
{
	font-size: 100px;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}

.content4
{
	text-align: center;
}

.photos
{
width: 100%;
height: 100vh;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #fff;
}

.photos img
{
 width: 400px;
 height: 400px;
 border-radius:50%;
 border: 10px solid #e6ccb2;
} 

.photos .txt2
{
	position: relative;
	width: 375px;
	height:250px;
	left: 160px; /* this call shifted more to the right */
	margin: 240px auto;
	background-color: #7b9e89;
}

.photos .txt2 .box2
{
	position: relative;
	width: 400;
	height: 600;
	background: 000;
	float: left;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

.photos .txt2 .box2 p
{
 font-size: 20px;
} /* all I wanted was to adjust size */

/* end of photo */

/* beginning of web development */

.content5 h1
{
	font-size: 100px;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}

.content5
{
	text-align: center;
}

/* end of web development */

/* beginning of graphic design */
.content6
{
display: block;
}
/* I need to figure out how to get the text to stay on the right and the photos be on the other sides. */

.content6 h1
{
	font-size: 100px;
	color: #fff;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}

.content6 .textbox p
{
	position: relative;
	width: 375px;
	height:250px;
	left: 500px; /* this call shifted more to the right */
	margin: 240px auto;
	background-color: #7b9e89;
	/* this moved everything to the right for my text, but I need to figure out on how to get the photos on the same line */
}

.content6 .graphics
{
	padding: 20px;
	display: flex;
	/*flex-direction: how do you make it so you have a 3x3? */
}

.content6 .graphics img
{
	display: grid;
	margin: auto;
	justify-content: space-between;
	-webkit-animation: reveal 4s ease;
	-webkit-animation-fill-mode: backwards;

}
@-webkit-keyframes reveal {
    0%  {width: 0px;}
		10% {width:5px;}
}
@keyframes reveal {
    0%   {width: 0px;}
		10%  {width:5px;}

} /* fix this */

.content6 .graphics2
{
	padding: 20px;
	display: flex;

}

.content6 .graphics2 img
{
	display: grid;
	margin: 2rem auto 2rem auto;
	justify-content: space-between;
}
/* end of graphic design */



/* start of footer*/

/* end of footer*/
