/* do you use a float to establish the placement of the videos on the side  or does this just work for images?

Look at protoype for reference this will help you know what CSS you need to code leave notes as you create the protoype for the page.



/* Reset file */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE */

/* the style of this webiste will be earth tones,so i'll pull from mostly browns and greens as it advances ill make it so that its white and the picutures are the color*/
/* start of nav styling */

*
{
	text-decoration: none;
}

body
{
	background-color: #9C6632;
}

header
{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	width: 100%;
	height: 100px;
	background-color: #ddb892;

}
header .header-brand
{
	text-decoration: none;
	font-style: italic;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 24px;
	color: #fff;
	display: block;
	margin: 0 auto;
	text-align: center;
}


a
{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 45px;
	padding: 0px 20px;
}

 nav
{
	width: 100%;
	height: 60px;
}

header nav ul
{
		float: left;
		display: block;
		margin: 0 auto;
		width: fit-content;
}

 header nav ul li
{
float:left;
list-style: none;
position: center;
} /* how do you get it so that the nav is set to the middle of the screen? */

 header nav ul li a
{
	display: inline-block;
	text-decoration: none;
  font-family: sans-serif;
	font-size: 16px;

}

	header nav ul a:hover
	{
		padding: 8x 12px;
		background-color: #7b9e89;
	}


/* This is code that you will need eventually to fix the drop down menu, but you don't need to keep wasting time on it.
nav ul li ul
{
	display: none;
	position: absolute;
	padding: 8px 12px 250px 250px;
	/*border-radius: 0px 0px 100px 100px;
}

nav ul li:hover ul
{
	display: block;
}

 nav ul li ul li
{
 width: 100x;
 border-radius: 4px;
}

nav ul li ul li a
{
	padding: 8px 12px 10px 10px;
	position:center;
}
 nav ul li ul li a:hover
{
	padding: 8x 12px;
	background-color: tan;
} */
/* end of nav styling*/

/* Home Styling */

 .home-banner
{
 width: 100%;
 height: 100vh;
 background-image: url();
}
